.country-btn {
    border: none;
}

.country-button-icon {
    margin-right: 10px;
}

.country-description {
    font-size: 11px;
    margin-top: 30px;
}

.country-description-label {
    width: 100%;
    margin-bottom: 10px;
}

.country-img {
    margin: auto;
}

.country-ctn {
    margin-top: 30px;
}